@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  background: #FBFDFF;
}

.container {
  width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container.content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

#main-header {
  width: 100%;
  -webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.2);
  height: 85px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 9999;
}

#main-header .navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0 1.5rem 0;
  border-bottom: 1px solid #C6D2E1;
}

#main-header .navbar .logo {
  width: inherit;
}

#main-header .navbar .logo a.logo-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #4264fb;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#main-header .navbar .logo a.logo-link:hover {
  color: #2947df;
}

#main-header .navbar .logo a.logo-link:hover i {
  border-color: #2947df;
}

#main-header .navbar .logo a.logo-link i {
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 0.6rem;
  border-right: 3px solid #4264fb;
  margin-right: 0.2rem;
}

#main-header .navbar .logo a.logo-link span {
  font-weight: 700;
  font-family: "Merriweather", serif;
}

#main-header .navbar .menu-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: inherit;
}

#main-header .navbar .menu-wraper .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

#main-header .navbar .menu-wraper .menu ul li {
  padding: 0 0.3rem;
}

#main-header .navbar .menu-wraper .menu ul li a {
  padding: 0.3rem 0.4rem;
  font-family: "Recursive", sans-serif;
  font-weight: 700;
  color: #23374d;
  font-size: 0.8rem;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#main-header .navbar .menu-wraper .menu ul li a:hover {
  color: #4264fb;
}

#main-header .navbar .menu-wraper .navbar-toggler {
  display: none;
}

#main-header .navbar .menu-wraper .dark-toggler {
  display: block;
  font-size: 1.3rem;
  margin-left: 1rem;
  color: #4264fb;
  background: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#main-header .navbar .menu-wraper .dark-toggler:hover {
  color: #2947df;
}

#main-header .navbar .menu-wraper .dark-toggler.mobile {
  display: none;
}

#main-header .navbar .menu-wraper .dark-toggler.desktop {
  display: none;
}

#hero {
  display: block;
  width: 100%;
  height: 520px;
  overflow: hidden;
  background: rgba(198, 218, 247, 0.1);
  padding-top: 70px;
  -webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.2);
}

#hero .text {
  width: 46%;
  padding-right: 2rem;
  font-family: "Roboto Slab", serif;
}

#hero .text .hi {
  font-size: 20px;
  color: #4264fb;
  font-weight: 700;
}

#hero .text .name {
  display: block;
  font-size: 46px;
  color: #4264fb;
  line-height: 60px;
}

#hero .text .profetion {
  display: block;
  font-size: 26px;
  color: #23374d;
  margin-bottom: 1.4rem;
}

#hero .text .dec {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #23374d;
  line-height: 28px;
  word-spacing: 2px;
  margin-bottom: 1.8rem;
}

#hero .text .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero .text .btn-group a.btn {
  width: 120px;
  height: 44px;
  background-color: #c3d0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  color: #23374d;
  margin-right: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border-radius: 1px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#hero .text .btn-group a.btn:hover {
  color: #4264fb;
}

#hero .lottie {
  width: 50%;
  height: 100%;
}

#hero .lottie .hero-lottie {
  width: 100%;
  margin-top: -30px;
}

@media (min-width: 1440px) {
  .container {
    width: 1300px;
  }
}

@media (max-width: 1439px) {
  .container {
    width: 1200px;
  }
}

@media (max-width: 1220px) {
  .container {
    width: 1120px;
  }
}

@media (max-width: 1120px) {
  .container {
    width: 990px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 520px;
  }
}

@media (max-width: 520px) {
  .container {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .container {
    width: 94%;
  }
}
/*# sourceMappingURL=style.css.map */