@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  background: #FBFDFF;
}

.container {
  width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#main-header {
  width: 100%;
  -webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.3);
}

#main-header .navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0 1.5rem 0;
  border-bottom: 1px solid #C6D2E1;
}

#main-header .navbar .logo {
  width: inherit;
}

#main-header .navbar .logo a.logo-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #4264fb;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#main-header .navbar .logo a.logo-link:hover {
  color: #2947df;
}

#main-header .navbar .logo a.logo-link:hover i {
  border-color: #2947df;
}

#main-header .navbar .logo a.logo-link i {
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 0.6rem;
  border-right: 3px solid #4264fb;
  margin-right: 0.2rem;
}

#main-header .navbar .logo a.logo-link span {
  font-weight: 700;
  font-family: "Merriweather", serif;
}

#main-header .navbar .menu-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: inherit;
}

#main-header .navbar .menu-wraper .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

#main-header .navbar .menu-wraper .menu ul li {
  padding: 0 0.3rem;
}

#main-header .navbar .menu-wraper .menu ul li a {
  padding: 0.3rem 0.4rem;
  font-family: "Recursive", sans-serif;
  font-weight: 700;
  color: #23374d;
  font-size: 0.8rem;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#main-header .navbar .menu-wraper .menu ul li a:hover {
  color: #4264fb;
}

#main-header .navbar .menu-wraper .navbar-toggler {
  display: none;
}

#main-header .navbar .menu-wraper .dark-toggler {
  display: block;
  font-size: 1.3rem;
  margin-left: 1rem;
  color: #4264fb;
  background: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#main-header .navbar .menu-wraper .dark-toggler:hover {
  color: #2947df;
}

#main-header .navbar .menu-wraper .dark-toggler.mobile {
  display: none;
}

#main-header .navbar .menu-wraper .dark-toggler.desktop {
  display: none;
}

@media (min-width: 1440px) {
  .container {
    width: 1300px;
  }
}

@media (max-width: 1439px) {
  .container {
    width: 1200px;
  }
}

@media (max-width: 1220px) {
  .container {
    width: 1120px;
  }
}

@media (max-width: 1120px) {
  .container {
    width: 990px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 520px;
  }
}

@media (max-width: 520px) {
  .container {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .container {
    width: 94%;
  }
}
/*# sourceMappingURL=style.css.map */