// Import Config
@import './config';


// Header Design
#main-header{
    width: 100%;

    .navbar{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0 1.5rem 0;
        border-bottom: 1px solid #C6D2E1;

        // Logo Design
        .logo{
            width: inherit;

            a.logo-link{
                text-decoration: none;
                font-size: 1.4rem;
                color: $primary-blue;
                transition: all 0.2s ease;

                &:hover{
                    color: $blue-hover;
                    i{
                        border-color: $blue-hover;
                    }
                }

                i{
                    font-size: 1.5rem;
                    font-weight: bold;
                    padding-right: 0.6rem;
                    border-right: 3px solid $primary-blue;
                    margin-right: 0.2rem;
                }

                span{
                    font-weight: 700;
                    font-family: $marri;
                }
            }
        }

        // Menu Design
        .menu-wraper{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            width: inherit;

            .menu{
                ul{
                    display: flex;
                    align-items: center;
                    list-style: none;

                    li{
                        padding: 0 0.3rem;

                        a{
                            padding: 0.3rem 0.4rem;
                            font-family: $roboto-slab;
                            font-weight: 700;
                            color: #23374d;
                            font-size: 0.8rem;
                            text-decoration: none;
                            transition: all 0.2s ease;

                            &:hover{
                                color: $primary-blue;
                            }
                        }
                    }
                }
            }

            .navbar-toggler{
                display: none;
            }

            .dark-toggler{
                display: block;
                font-size: 1.3rem;
                margin-left: 1rem;
                color: $primary-blue;
                background: transparent;
                border: none;
                cursor: pointer;
                transition: all 0.2s ease;

                &:hover{
                    color: $blue-hover;
                }

                &.mobile{
                    display: none;
                }
                &.desktop{
                    display: none;
                }
            }
        }
    }
}































@import './responsive';